ul
  li
    span Friends
    ul
      li.Label A
      li.img
        a.online(href='#')
          img(alt='', src!='<%= baseUrl %>/images/photos_preview/50/people/1.jpg')
          | Alexa
          small Johnson
      li.img
        a.busy(href='#')
          img(alt='', src!='<%= baseUrl %>/images/photos_preview/50/people/2.jpg')
          | Alexander
          small Brown
      li.Label F
      li.img
        a(href='#')
          img(alt='', src!='<%= baseUrl %>/images/photos_preview/50/people/3.jpg')
          | Fred
          small Smith
      li.Label J
      li.img
        a(href='#')
          img(alt='', src!='<%= baseUrl %>/images/photos_preview/50/people/4.jpg')
          | James
          small Miller
      li.img
        a(href='#')
          img(alt='', src!='<%= baseUrl %>/images/photos_preview/50/people/5.jpg')
          | Jefferson
          small Jackson
      li.img
        a(href='#')
          img(alt='', src!='<%= baseUrl %>/images/photos_preview/50/people/6.jpg')
          | Jordan
          small Lee
      li.Label K
      li.img
        a.online(href='#')
          img(alt='', src!='<%= baseUrl %>/images/photos_preview/50/people/7.jpg')
          | Kim
          small Adams
      li.Label M
      li.img
        a(href='#')
          img(alt='', src!='<%= baseUrl %>/images/photos_preview/50/people/8.jpg')
          | Meagan
          small Miller
      li.img
        a.busy(href='#')
          img(alt='', src!='<%= baseUrl %>/images/photos_preview/50/people/9.jpg')
          | Melissa
          small Johnson
      li.Label N
      li.img
        a.online(href='#')
          img(alt='', src!='<%= baseUrl %>/images/photos_preview/50/people/10.jpg')
          | Nicole
          small Smith
      li.Label S
      li.img
        a.online(href='#')
          img(alt='', src!='<%= baseUrl %>/images/photos_preview/50/people/1.jpg')
          | Samantha
          small Harris
      li.img
        a.block(href='#')
          img(alt='', src!='<%= baseUrl %>/images/photos_preview/50/people/2.jpg')
          | Scott
          small Thompson
  li
    span Family
    ul
      li.Label A
      li.img
        a.busy(href='#')
          img(alt='', src!='<%= baseUrl %>/images/photos_preview/50/people/3.jpg')
          | Adam
          small White
      li.Label B
      li.img
        a.busy(href='#')
          img(alt='', src!='<%= baseUrl %>/images/photos_preview/50/people/4.jpg')
          | Ben
          small Robinson
      li.img
        a(href='#')
          img(alt='', src!='<%= baseUrl %>/images/photos_preview/50/people/5.jpg')
          | Bruce
          small Lee
      li.Label E
      li.img
        a(href='#')
          img(alt='', src!='<%= baseUrl %>/images/photos_preview/50/people/6.jpg')
          | Eddie
          small Williams
      li.Label J
      li.img
        a.online(href='#')
          img(alt='', src!='<%= baseUrl %>/images/photos_preview/50/people/7.jpg')
          | Jack
          small Johnson
      li.img
        a(href='#')
          img(alt='', src!='<%= baseUrl %>/images/photos_preview/50/people/8.jpg')
          | John
          small Jackman
      li.Label M
      li.img
        a(href='#')
          img(alt='', src!='<%= baseUrl %>/images/photos_preview/50/people/9.jpg')
          | Martina
          small Thompson
      li.img
        a.busy(href='#')
          img(alt='', src!='<%= baseUrl %>/images/photos_preview/50/people/10.jpg')
          | Matthew
          small Watson
      li.Label O
      li.img
        a.online(href='#')
          img(alt='', src!='<%= baseUrl %>/images/photos_preview/50/people/1.jpg')
          | Olivia
          small Taylor
      li.img
        a.online(href='#')
          img(alt='', src!='<%= baseUrl %>/images/photos_preview/50/people/2.jpg')
          | Owen
          small Wilson
  li
    span
      | Work colleagues
    ul
      li.Label D
      li.img
        a(href='#')
          img(alt='', src!='<%= baseUrl %>/images/photos_preview/50/people/3.jpg')
          | David
          small Harris
      li.img
        a(href='#')
          img(alt='', src!='<%= baseUrl %>/images/photos_preview/50/people/4.jpg')
          | Dennis
          small King
      li.Label E
      li.img
        a.online(href='#')
          img(alt='', src!='<%= baseUrl %>/images/photos_preview/50/people/5.jpg')
          | Eliza
          small Walker
      li.Label L
      li.img
        a.busy(href='#')
          img(alt='', src!='<%= baseUrl %>/images/photos_preview/50/people/6.jpg')
          | Larry
          small Turner
      li.img
        a.online(href='#')
          img(alt='', src!='<%= baseUrl %>/images/photos_preview/50/people/7.jpg')
          | Lisa
          br
          small Wilson
      li.Label M
      li.img
        a(href='#')
          img(alt='', src!='<%= baseUrl %>/images/photos_preview/50/people/8.jpg')
          | Michael
          small Jordan
      li.Label R
      li.img
        a(href='#')
          img(alt='', src!='<%= baseUrl %>/images/photos_preview/50/people/9.jpg')
          | Rachelle
          small Cooper
      li.img
        a.online(href='#')
          img(alt='', src!='<%= baseUrl %>/images/photos_preview/50/people/10.jpg')
          | Rick
          small James