ul
  li
    a(href='dashboard.html')
      i.icon.fa.fa-laptop
      | Dashboard
  li
    a(href='mailBox.html')
      i.icon.fa.fa-inbox
      | Mail
  li
    span
      i.icon.fa.fa-briefcase
      | UI Element
    ul
      li
        a(href='ui.html')  UI 
      li
        a(href='ui_button.html')  Button 
      li
        a(href='ui_icon.html')  Fonts Icon
      li
        a(href='ui_slide.html')  Slide
      li
        a(href='ui_modal.html')  Modal
      li
        a(href='ui_panel.html')  Panel
      li
        a(href='ui_alert.html')  Alert
      li
        a(href='ui_typography.html')  Typography
  li
    span
      i.icon.fa.fa-bar-chart-o
      | Chart
    ul
      li
        a(href='chartFlot.html')  Flot Chart
      li
        a(href='chartOther.html')  Other Chart
  li
    a(href='calendar.html')
      i.icon.fa.fa-calendar-o
      | Calendar
  li
    span
      i.icon.fa.fa-align-right
      | Off  Canvas  Menu
    ul
      li
        a(href='menu.html')  Position 
      li
        a(href='menuOpen.html')  Touch to open
      li
        a(href='menuVertical.html')  Vertical Level
      li
        span  Unlimited Level 
        ul
          li
            a(href='#')  Level 3 
          li
            a(href='#')  Level 3 
          li
            span  Level 4
            ul
              li
                a(href='#')  Level 4 
              li
                a(href='#')  Level 4 
  li
    span
      i.icon.fa.fa-clipboard
      | From
    ul
      li
        a(href='form.html') Form Basic
      li
        a(href='formComponents.html') Form Components
      li
        a(href='formValidate.html') Form Validate
      li
        a(href='formWizard.html') Form Wizard
  li
    a(href='fileManager.html')
      i.icon.fa.fa-file-text
      | File Manager
  li
    span
      i.icon.fa.fa-fire
      | Table
    ul
      li
        a(href='table.html') Table Basic
      li
        a(href='tableResponsive.html') Table Responsive
      li
        a(href='tableDynamic.html') Data Table
  li
    span
      i.icon.fa.fa-folder-open-o
      | Other Page
    ul
      li
        a(href='login.html')  login 
      li
        a(href='lockscreen.html')  Lockscreen 
      li
        a(href='images_manager.html')  Images Manager
      li
        a(href='gallery.html')  Gallery
      li
        a(href='timeline.html')  Timeline
      li
        a(href='profile.html')  Profile
      li
        a(href='blankPage.html')  Blank Page
  li
    a(href='map.html')
      i.icon.fa.fa-map-marker
      | Maps
  li
    a(href='404.html')
      i.icon.fa.fa-exclamation-triangle
      | Error Pages
  li
    a(href='siteMap.html')
      i.icon.fa.fa-sitemap
      | Site Map