div.panel.panel-default
	div.panel-body
		form.forget-password-form.form-horizontal.col-md-6(role="form")
			h4 <%= resetPassword %>
			hr
			p <%= pleaseInputEmail %>
			div.form-group
				div.div.col-sm-8
					input.form-control#inputEmail(required,type="email",placeholder!="<%= email %>")
			
			div.form-group
				div.col-sm-4
					button.btn.btn-primary(type="submit") 
						|  &nbsp; <%= sendRequest %> &nbsp;
			div.form-group
				div.col-sm-4
					a.go-to-login.text-info(href="#") <%= goToLogin %>
	