
<ol class="breadcrumb">
  <li><a href="#"><%= breadcrumb.home %></a></li>
  <li><a href="#"><%= breadcrumb.account %></a></li>
  <li><a href="#!/backend/account/invitations"><%= breadcrumb.invitations %></a></li>
  <li class="active"><%= data.id %></li>
</ol>
<div id="content">
  <div class="row">
    <div class="col-lg-12">
      <section class="panel">
        <header class="panel-heading sm">
          <h3><%=viewTitle%></h3>
          <h2><%= data.id %></h2>
        </header>
        <div class="panel-body">
          <form role="form" parsley-validate="parsley-validate" novalidate="novalidate" class="form record-form">
            <div class="row vogdata-show-grid">
              <div class="col-md-6">
                <h4 class="vog-sub-title"><strong><%=labelDetails%></strong></h4>
              </div>
            </div>
            <hr/>
            <div class="row vogdata-show-grid">
              <div class="col-md-6">
                <label class="col-xs-3"><i class="fa fa-tags"></i><span>&nbsp; <%=fieldName%></span></label>
                <div class="col-xs-9"><%= data.get('data').contact.name.displayName %>  </div>
              </div>
              <div class="col-md-6">
                <label class="col-xs-3"><i class="fa fa-user"></i><span>&nbsp; <%=fieldEmail%></span></label>
                <div class="col-xs-9"><%= data.get('data').username %></div>
              </div>
            </div>
            <div class="row vogdata-show-grid">
              <div class="col-md-6">
                <label class="col-xs-3"><i class="fa fa-phone-square"></i><span>&nbsp; <%=fieldMobile%></span></label>
                <div class="col-xs-9"><%= data.get('data').contact.phones[0].countryCode %> <%= data.get('data').contact.phones[0].number %></div>
              </div>
              <div class="col-md-6">
                <label class="col-xs-3"><i class="fa fa-calendar-o"></i><span>&nbsp; <%=fieldExpiry%></span></label>
                <div class="col-xs-9"><%= data.getDisplayExpiryDate() %></div>
              </div>
            </div>
            <hr/>
            <div class="row vog-sub-title-grid">
              <div class="col-md-3">
                <h4 class="vog-sub-title"><strong><%=labelRoles%></strong></h4>
              </div>
            </div>
            <hr/><% for(var i=0;i<installedApps.length;i++){ var app = installedApps[i]; %>
            <hr/>
            <div class="row vogdata-show-grid">
              <div class="col-md-6">
                <h4><strong></strong><%= app.info.name %></h4>
              </div>
            </div><% for(var z=0;z<app.roles.length;z+=2){%>
            <div class="row vogdata-show-grid">
              <div class="col-md-6"><% var role = app.roles[z]%>
                <label><%= role.name %></label>
              </div><% if(z+1 < app.roles.length) { var role1 = app.roles[z+1];%>
              <div class="col-md-6">
                <label><%= role1.name %></label>
              </div><%}%>
            </div><%}%>
            <% } %>
          </form>
        </div>
        <footer class="panel-footer"><a style="margin-right:5px;" href="#!/backend/account/invitations" class="btn-next btn btn-theme btn-record-back"><i class="fa fa-list-ul"></i>&nbsp; <%=actionBack%> &nbsp;</a>
          <button record-id="<%= data.id %>" class="btn-next btn btn-record-delete"><i class="fa fa-trash-o"></i>&nbsp; <%=actionDelete%> &nbsp;</button>
        </footer>
      </section>
    </div>
  </div>
</div>