ol.breadcrumb
  li
    a(href='#!/backend/dashboard') Home
  li
    a(href='#!/backend/account') Account
  li
    a(href='#!/backend/account/invitations') Invitations
  li.active <%= data.id %>
// //breadcrumb
#content
  .row
    .col-lg-12    
        section.panel.wizard-form.corner-flip(role="form",parsley-validate,novalidate="novalidate")
            header.panel-heading
                h3 User Invitations
                h2 <%= data.id %>
            div.panel-body
              form.form-horizontal(data-alignlabel="left",data-collabel="3")                
                .col-lg-6.col-md-6.col-sm-6
                  .divider
                    h4 Details
                  .form-group
                    label.col-xs-3 
                      i.fa.fa-tags
                      span &nbsp; Name
                    .col-xs-9 <%= data.get('data').contact.name.displayName %>                  
                  .form-group
                    label.col-xs-3 
                      i.fa.fa-user
                      span &nbsp; Email
                    .col-xs-9 <%= data.get('data').username %>
                  .form-group
                    label.col-xs-3 
                      i.fa.fa-phone-square
                      span &nbsp; Mobile
                    .col-xs-9 <%= data.get('data').contact.phones[0].countryCode %> <%= data.get('data').contact.phones[0].number %>
                  .form-group
                    label.col-xs-3 
                      i.fa.fa-calendar-o
                      span &nbsp; Expiry
                    .col-xs-9 <%= data.getDisplayExpiryDate() %>
                .col-lg-6.col-md-6.col-sm-6
                  .divider(style="margin-bottom:5px")
                    h4 Roles
                  div
                    <% _.forEach(installedApps,function(app){  app = app.toJSON(); %>
                    div
                      label <%= app.info.name %>   
                    ul(style="margin-bottom:10px")
                      <% _.forEach(app.roles,function(role){ if(data.get('data').roles.indexOf(role.id)!=-1){ %>
                      li(style="margin-bottom:5px")
                          span.glyphicon.glyphicon-user(style="margin-right:5px") 
                          span <%= role.name %>    
                      <% }}) %>               
                    <% }) %>
            footer.panel-footer
                a.btn-next.btn.btn-theme.btn-record-back(style="margin-right:5px;",href="#!/backend/account/invitations")
                    i.fa.fa-list-ul
                    | &nbsp; Back to list &nbsp;
                button.btn-next.btn.btn-record-delete(record-id!='<%= data.id %>')
                    i.fa.fa-trash-o
                    | &nbsp; Delete &nbsp;