ol.breadcrumb
	li
		a(href='#') Home
	li
		a(href='#') Account
	li.active Members
// //breadcrumb
#content
	.row
		.col-lg-12
			section.panel.wizard-form.corner-flip(role="form",parsley-validate,novalidate="novalidate")
				header.panel-heading
					h2 <%= viewTitle %>
				div.panel-body.data-grid
				footer.panel-footer
					button.btn-next.btn.btn-theme.btn-record-add(type="submit")
						i.fa.fa-plus
						| &nbsp; Invite User &nbsp;
//- Below template is only for action columns use
script(type="text/template",id="action-column-template")
	div.tooltip-area
		a.btn.btn-default.btn-sm.btn-record-detail(href!="#",record-id!='{{ id }}',style="margin-right:5px;")
			span.hidden-xs
				i.fa.fa-file-text-o
				|&nbsp; Detail &nbsp;
			span.visible-xs
				i.fa.fa-file-text-o
		a.btn.btn-default.btn-sm.btn-record-delete(href="#",record-id!='{{ id }}')
			span.hidden-xs
				i.fa.fa-trash-o
				|&nbsp; Remove &nbsp;
			span.visible-xs
				i.fa.fa-trash-o