ol.breadcrumb
	li
		a(href='#') <%= breadcrumb.home %>
	li
		a(href='#') <%= breadcrumb.account %>
	li.active <%= breadcrumb.members %>
#content
	.row
		.col-lg-12
			section.panel.wizard-form.corner-flip(role="form",parsley-validate,novalidate="novalidate")
				header.panel-heading
					h2 <%= viewTitle %>
				div.panel-body.data-grid
				.panel-footer
					button.btn-next.btn.btn-theme.btn-record-add
						i.fa.fa-plus
						| &nbsp; <%=actionAddUser%> &nbsp;
//- Below template is only for action columns use
script(type="text/template",id="action-column-template")
	div.tooltip-area
		a.btn.btn-default.btn-sm.btn-record-detail(href!="#",record-id!='{{ id }}',style="margin-right:5px;")
			span.hidden-xs
				i.fa.fa-edit
				|&nbsp; <%= recordActionEdit %> &nbsp;
			span.visible-xs
				i.fa.fa-edit