
<ol class="breadcrumb">
  <li><a href="#"><%= breadcrumb.home %></a></li>
  <li><a href="#"><%= breadcrumb.account %></a></li>
  <li class="active"><%= breadcrumb.members %></li>
</ol>
<div id="content">
  <div class="row">
    <div class="col-lg-12">
      <section role="form" parsley-validate="parsley-validate" novalidate="novalidate" class="panel wizard-form corner-flip">
        <header class="panel-heading sm">
          <h2><strong><%= viewTitle %></strong></h2>
        </header>
        <div class="panel-body data-grid"></div>
        <div class="panel-footer">
          <button class="btn-next btn btn-theme btn-record-add"><i class="fa fa-plus"></i>&nbsp; <%=actionAddUser%> &nbsp;</button>
        </div>
      </section>
    </div>
  </div>
</div>
<script type="text/template" id="action-column-template">
  <div class="tooltip-area"><a href="#" record-id="{{ id }}" style="margin-right:5px;" class="btn btn-default btn-sm btn-record-detail"><span class="hidden-xs"><i class="fa fa-edit"></i>&nbsp; <%= recordActionEdit %> &nbsp;</span><span class="visible-xs"><i class="fa fa-edit"></i></span></a></div>
</script>