.real-border
    .row
      .col-xs-1
      .col-xs-1
      .col-xs-1
      .col-xs-1
      .col-xs-1
      .col-xs-1
      .col-xs-1
      .col-xs-1
      .col-xs-1
      .col-xs-1
      .col-xs-1
      .col-xs-1
  .container
    .row
      .col-lg-12
        .account-wall
          section.align-lg-center
            .site-logo
            h1.login-title
              <%= viewTitle %>
              small  <%= viewDescription %>
          form#form-forget-password.form-signin(parsley-validate,novalidate="novalidate")
            div.well.corner-flip
              p <%= pleaseInputEmail %>
              div.flip
            section
                .input-group
                  .input-group-addon
                    i.fa.fa-user
                  input#inputEmail.form-control(required,type="email", parsley-type="email", parsley-trigger="change",name='username', placeholder!='<%= email %>')                
              button#sign-in.btn.btn-lg.btn-theme-inverse.btn-block.btn-send-request(type='submit') <%= sendRequest %>            
            section.clearfix              
              a.pull-right.help.go-to-login(href='#') <%= goToLogin %>                        
          a.footer-link(href='#') <%= copyright %>