.real-border
    .row
      .col-xs-1
      .col-xs-1
      .col-xs-1
      .col-xs-1
      .col-xs-1
      .col-xs-1
      .col-xs-1
      .col-xs-1
      .col-xs-1
      .col-xs-1
      .col-xs-1
      .col-xs-1
  .container
    .row
      .col-lg-12
        .account-wall
          section.align-lg-center
            .site-logo
            h1.login-title
              | <%= viewTitle %>
              small  <%= viewDescription %>
          form#form-signin.form-signin(parsley-validate,novalidate="novalidate")
            section
                .input-group
                  .input-group-addon
                    i.fa.fa-user
                  input#inputEmail.form-control(required,type="email", parsley-type="email", parsley-trigger="change",name='username', placeholder!='<%= email %>')
                .input-group
                  .input-group-addon
                    i.fa.fa-key
                  input#inputPassword.form-control(required,type='password', name='password', placeholder!='<%= password %>')
              button#sign-in.btn.btn-lg.btn-theme-inverse.btn-block.btn-sign-in(type='submit') <%= signIn %>
            section.clearfix
              .iCheck.pull-left(data-color='red')
                input(name="remember",type='checkbox', checked='checked', parsley-group="remember")
                label <%= remember %>
              a.pull-right.help.btn-forget-password(href='#!/user/forget-password') <%= forgetPassword %>
            span.or(data-text!='<%= or %>')
            a.btn.btn-lg.btn-inverse.btn-block.btn-create-account(href="#!/user/register") <%= createAccount %>
          a.footer-link(href='#') <%= copyright %>