section.panel.corner-flip
    div.wizard-form(role="form",parsley-validate,novalidate="novalidate")
        header.panel-heading
            h2 Awesome!
            p Welcome to join the company
        div.panel-body
            div.col-sm-5
                div.divider
                    h3 Company
                strong Name
                p <%= data.account.name %>
                strong Your Role
                p <%= data.account.role %>
                strong Phone
                p <%= data.account.info.phone.countryCode %> <%= data.account.info.phone.areaCode %> <%= data.account.info.phone.number %>
                strong Website
                p 
                    a(href!="<%= data.account.info.website %>", target="_blank") <%= data.account.info.website %>
            div.col-sm-7
                hr.visible-xs
                div.divider
                    h3 Applications
                ul
                    li.rounded-list
                        <% _.forEach(data.installedApps,function(app){  %>
                        strong <%= app.info.name %>
                        p(style="margin-top:5px")
                            <% _.forEach(app.roles,function(role){ if(data.data.roles.indexOf(role.id)!=-1){ %>
                            div(style="margin-bottom:5px")
                                span.glyphicon.glyphicon-user(style="margin-right:5px") 
                                span <%= role.name %>    
                            <% }}) %>               
                        <% }) %>
        footer.panel-footer
            button.btn-done.btn.btn-theme
                i.fa.fa-check
                | &nbsp; Done &nbsp;
        div.flip