ol.breadcrumb
    li
        a(href='#!/backend/dashboard') <%= breadcrumb.home %>
    li
        a(href='#!/backend/me/profile') <%= breadcrumb.myAccount %>
    li.active <%= viewName %>
// //breadcrumb
#content
    .row
        .col-lg-12

            section.panel.wizard-form.corner-flip(role="form",parsley-validate,novalidate="novalidate")
                header.panel-heading
                    h2 <%= viewTitle %>
                    label(class="color",style="background-color:#edece5") Welcome to setup your account
                div.panel-body
                    div
                        p How would you like to setup your account ?
                        ul.choose-mode.iCheck(data-color='red')
                          li
                            input(type="radio",name="mode",value="create", parsley-trigger="ifClicked ifChanged",parsley-required="true",parsley-group="setup-mode")
                            label I want to create a new company account
                          li
                            input(type="radio",name="mode",value="join", parsley-trigger="ifClicked ifChanged",parsley-group="setup-mode")
                            label I want to join a company account
                    form.form-create-company(role="form",parsley-validate,novalidate="novalidate")
                        hr
                        p Please review below form to create a new company account
                        div.form-group
                            label Company Name
                            input.form-control(name="name",required,parsley-mincheck="3",type="text",placeholder="Company Name",parsley-remote-method="POST",parsley-remote-message!="<%= validation.companyNotUnique %>")
                        div.form-group
                            label Phone Number
                            div(style="height:34px;")
                                input.form-control.pull-left(name="phone-country-code",required,placeholder!="<%= phoneCountryCode %>",value!="<%= phoneDefaultCountryCode %>",style="width:19%;margin-right:1%;")
                                input.form-control.pull-left(name="phone-area-code",required,placeholder!="<%= phoneAreaCode %>",style="width:24%;margin-right:1%;")
                                input.form-control.pull-left(name="phone-number",required,type="tel",placeholder!="<%= phoneNumber %>",style="width:55%")
                        div.form-group
                            label Address
                            div(style="height:34px;margin-bottom:5px;")
                                input.form-control.pull-left(name="address-country",parsley-mincheck="2",required,placeholder!="<%= addressCountry %>",value!="<%= addressDefaultCountry %>",style="width:32%;margin-right:1%;")
                                input.form-control.pull-left(name="address-province",parsley-mincheck="2",required,placeholder!="<%= addressProvince %>",style="width:33%;margin-right:1%;")
                                input.form-control.pull-left(name="address-city",parsley-mincheck="2",required,type="tel",placeholder!="<%= addressCity %>",style="width:33%")
                            div(style="height:34px;")
                                input.form-control.pull-left(name="address-street",parsley-mincheck="6",required,placeholder!="<%= addressStreet %>",style="width:74%;margin-right:1%;")
                                input.form-control.pull-left(name="address-zipcode",required,parsley-type="digits",placeholder!="<%= addressZipcode %>",style="width:25%")
                        div.form-group
                            label Website
                            input.form-control(name="website",required,type="url",placeholder="http://www.yourcompany.com")
                        button.hidden(type="submit")
                    form.form-join-company(role="form",parsley-validate,novalidate="novalidate")
                        hr
                        p Please ask your company's administrator for the invitation code. Normally it will send to by email or SMS.
                        div.form-group
                            label Company Invitation Code
                            input.form-control(name="token",style="text-transform: uppercase",required,type="text",parsley-remote-method="POST",parsley-remote-message!="<%= validation.tokenInvalid %>",parsley-required="true",placeholder!="<%= invitationCodePlaceHolder %>")
                        button.hidden(type="submit")
                footer.panel-footer
                    button.btn-next.btn.btn-theme(type="submit") Next Step &nbsp;
                        i.fa.fa-angle-right
                    button.btn-test.btn.btn-theme(type="button",style="margin-left:10px") Test &nbsp;
                        i.fa.fa-angle-right