script#user-invitation-layout-template(type="text/template")       
    section.panel.corner-flip
        div.wizard-form(role="form",parsley-validate,novalidate="novalidate")
            header.panel-heading
                h2 <%= locale.viewTitle %>
                p <%= locale.twoTitle %>
            div.panel-body
                div.divider(style="margin-top:0px;")
                    h3 <%= locale.users %>
                div#user-list
                    | Loading data ...
                                            

                div.divider
                    h3 <%= locale.invitations %>
                div#invitation-list
                    | Loading data ...

            footer.panel-footer
                button.btn-add-user.btn.button.btn-theme(style="margin-right:10px;")
                    i.fa.fa-plus
                    | &nbsp; <%= locale.addUser %> &nbsp;
                button.btn-done.btn-send-invitations.btn.button
                    i.fa.fa-check
                    | &nbsp; <%= locale.done %> &nbsp;
            div.flip

script#user-list-template(type="text/template")           
    table.table.table-striped.table-bordered.text-center
        thead
            tr
                th.hidden-xs {{ locale.name }}
                th {{ locale.email }}
                th.hidden-xs {{ locale.role }}
                th {{ locale.action }}
        tbody        
            <% _.forEach(users,function(user){ %>        
            tr
                td.hidden-xs <%= user.user.contact.name.displayName %>
                td <%= user.user.username %>
                td.hidden-xs <%= user.role %>
                td
                    div.tooltip-area
                        <% if(user._id != me._id){ %>
                        a.btn.btn-default.btn-sm.btn-delete-record(href="#",record-id!='<%= user._id %>')
                            span.hidden-xs
                                i.fa.fa-trash-o
                                |&nbsp; Remove &nbsp;
                            span.visible-xs
                                i.fa.fa-trash-o
                        <% } %>
            <% }) %>

script#invitation-list-template(type="text/template")
    table.table.table-striped.table-bordered.text-center
        thead
            tr
                th.hidden-xs {{ locale.name }}
                th {{ locale.email }}
                th.hidden-xs {{ locale.invitationCode }}
                th {{ locale.action }}
        tbody
            <% if(invitations.length>0){ %> 
            <%      _.forEach(invitations,function(invitation){ %>                
            tr
                td.hidden-xs <%= invitation.data.contact.name.displayName %>
                td <%= invitation.data.username %>
                td.hidden-xs <%= invitation._id %>
                td
                    div.tooltip-area
                        a.btn.btn-default.btn-sm.btn-delete-record(href="#",record-id!='<%= invitation._id %>')
                            span.hidden-xs
                                i.fa.fa-trash-o
                                |&nbsp; Delete &nbsp;
                            span.visible-xs
                                i.fa.fa-trash-o
            <%     }) %>
            <% }else{ %>
            tr
                td(colspan="4")
                    | {{ locale.noUserMessage }}
            <% } %>                                  