section.panel.corner-flip
    div.wizard-form(role="form",parsley-validate,novalidate="novalidate")
        header.panel-heading
            h2 <%= locale.viewTitle %>
            p <%= locale.twoTitle %>
        div.panel-body
            div.col-sm-5
                div.divider
                    h3 <%= locale.company %>
                strong <%= locale.name %>
                p <%= data.account.role %>
                strong <%= locale.twoTitle %>
                p <%= data.account.role %>
                strong <%= locale.phone %>
                p <%= data.account.info.phone.countryCode %> <%= data.account.info.phone.areaCode %> <%= data.account.info.phone.number %>
                strong <%= locale.website %>
                p 
                    a(href!="<%= data.account.info.website %>", target="_blank") <%= data.account.info.website %>
            div.col-sm-7
                hr.visible-xs
                div.divider
                    h3 <%= locale.applications %>
                ul
                    li.rounded-list
                        <% _.forEach(data.installedApps,function(app){  %>
                        strong <%= app.info.name %>
                        p(style="margin-top:5px")
                            <% _.forEach(app.roles,function(role){ if(data.data.roles.indexOf(role.id)!=-1){ %>
                            div(style="margin-bottom:5px")
                                span.glyphicon.glyphicon-user(style="margin-right:5px") 
                                span <%= role.name %>    
                            <% }}) %>               
                        <% }) %>
        footer.panel-footer
            button.btn-done.btn.btn-theme
                i.fa.fa-check
                | &nbsp; <%= locale.done %> &nbsp;
        div.flip