ol.breadcrumb
    li
        a(href='#!/backend/dashboard') <%= breadcrumb.home %>
    li
        a(href='#!/backend/me/profile') <%= breadcrumb.myAccount %>
    li.active <%= viewName %>
// //breadcrumb
#content
    .row
        h1 <%= viewTitle %>
