ol.breadcrumb
    li
        a(href='#!/backend/dashboard') <%= breadcrumb.home %>
    li
        a(href='#!/backend/me/profile') <%= breadcrumb.myAccount %>
    li.active <%= viewName %>
// //breadcrumb
#content
    .row
        .col-lg-12
            h1 <%= viewTitle %>
            label(class="color",style="background-color:#edece5") welcome to setup your account
            a#test(href="#test") logout test
            form#rootwizard.wizard-step
                ul
                    li
                        a(href='#tab1', data-toggle='tab') 1
                    li
                        a(href='#tab2', data-toggle='tab') 2
                    li
                        a(href='#tab3', data-toggle='tab') 3
                .progress.progress-stripes.progress-sm(style='margin: 0;')
                    .progress-bar(data-color='info')
                .tab-content
                    #tab1.tab-pane.fade
                        h3 Wizard step : 1
                        br
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    #tab2.tab-pane.fade
                        h3 Wizard step : 2
                        br
                        p
                            | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    #tab3.tab-pane.fade
                        h3 Wizard step : 3
                        br
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    hr
                    footer.row
                        .col-sm-4
                            section.wizard
                                button.btn.btn-inverse.previous(type='button',style="margin-right:4px")
                                    i.fa.fa-angle-left
                                    | Previous
                                button.btn.btn-theme.next(type='button')
                                    | Next
                                    i.fa.fa-angle-right
                        .col-sm-8.align-lg-right
                            .wizard-status
                                | Wizard step :
                                span
