section.panel.corner-flip
    div.wizard-form(role="form",parsley-validate,novalidate="novalidate")
        header.panel-heading
            h2 Invite your team now!
            p Now its time to invite your team members join your company account
        div.panel-body
            p hello
        footer.panel-footer
            button.btn-done..btn-theme.btn-send-invitations.btn.button
                | &nbsp; Done &nbsp;
        div.flip