
<script id="user-invitation-layout-template" type="text/template">      
  <section class="panel corner-flip">
    <div role="form" parsley-validate="parsley-validate" novalidate="novalidate" class="wizard-form">
      <header class="panel-heading">
        <h2><%= locale.viewTitle %></h2>
        <p><%= locale.twoTitle %></p>
      </header>
      <div class="panel-body">
        <div style="margin-top:0px;" class="divider">
          <h3><%= locale.users %></h3>
        </div>
        <div id="user-list">Loading data ...</div>
        <div class="divider">
          <h3><%= locale.invitations %></h3>
        </div>
        <div id="invitation-list">Loading data ...</div>
      </div>
      <footer class="panel-footer">
        <button style="margin-right:10px;" class="btn-add-user btn button btn-theme"><i class="fa fa-plus"></i>&nbsp; <%= locale.addUser %> &nbsp;</button>
        <button class="btn-done btn-send-invitations btn button"><i class="fa fa-check"></i>&nbsp; <%= locale.done %> &nbsp;</button>
      </footer>
      <div class="flip"></div>
    </div>
  </section>
</script>
<script id="user-list-template" type="text/template">          
  <table class="table table-striped table-bordered text-center">
    <thead>
      <tr>
        <th class="hidden-xs">Name</th>
        <th>Email</th>
        <th class="hidden-xs">Role</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
             
      <% _.forEach(users,function(user){ %>        
      <tr>
        <td class="hidden-xs"><%= user.user.contact.name.displayName %></td>
        <td><%= user.user.username %></td>
        <td class="hidden-xs"><%= user.role %></td>
        <td>
          <div class="tooltip-area"><% if(user._id != me._id){ %><a href="#" record-id="<%= user._id %>" class="btn btn-default btn-sm btn-delete-record"><span class="hidden-xs"><i class="fa fa-trash-o"></i>&nbsp; Remove &nbsp;</span><span class="visible-xs"><i class="fa fa-trash-o"></i></span></a><% } %></div>
        </td>
      </tr><% }) %>
    </tbody>
  </table>
</script>
<script id="invitation-list-template" type="text/template">
  <table class="table table-striped table-bordered text-center">
    <thead>
      <tr>
        <th class="hidden-xs">Name</th>
        <th>Email</th>
        <th class="hidden-xs">Invitation Code</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% if(invitations.length>0){ %> 
      <%      _.forEach(invitations,function(invitation){ %>                
      <tr>
        <td class="hidden-xs"><%= invitation.data.contact.name.displayName %></td>
        <td><%= invitation.data.username %></td>
        <td class="hidden-xs"><%= invitation._id %></td>
        <td>
          <div class="tooltip-area"><a href="#" record-id="<%= invitation._id %>" class="btn btn-default btn-sm btn-delete-record"><span class="hidden-xs"><i class="fa fa-trash-o"></i>&nbsp; Delete &nbsp;</span><span class="visible-xs"><i class="fa fa-trash-o"></i></span></a></div>
        </td>
      </tr><%     }) %>
      <% }else{ %>
      <tr>
        <td colspan="4">请点击“添加用户”按钮，开始添加或邀请您的同事</td>
      </tr><% } %>                                  
    </tbody>
  </table>
</script>