ol.breadcrumb
	li
		a(href='#') <%= locale.breadcrumb.home %>
	li
		a(href='#') <%= locale.breadcrumb.me %>
	li.active <%= locale.breadcrumb.changePassword %>
#content
	section.panel.corner-flip
		div.panel-heading
			h2 <%= locale.viewTitle %>
		div.panel-body
			.form-group
				.col-md-12
					.field-oldpassword
			.form-group
				.col-md-12
					.field-newpassword
			.form-group
				.col-md-12
					.field-repeatpassword
			//- .form-group
			//- 	label.control-label <%= oldPassword %>
			//- 	input#oldPassword.form-control(required,type="password",name="password",placeholder!="<%= oldPassword %>",parsley-remote-method="POST",parsley-remote-message!="<%= wrongPassword %>",parsley-required="true")
			//- .form-group
			//- 	label.control-label <%= newPassword %>
			//- 	input#inputPassword.form-control(required,type='password',parsley-mincheck="6", parsley-trigger="change", placeholder!='<%= newPassword %>')
			//- .form-group
			//- 	label.control-label <%= repetNewPassword %>
			//- 	input#inputRepeatPassword.form-control(required,type='password',parsley-mincheck="6", parsley-trigger="change",name='password-repeat', placeholder!='<%= repetNewPassword %>',parsley-equalto="#inputPassword",parsley-equalto-message!="<%= passwordNotMatch %>")
		div.panel-footer
				.act-saverecord