
<div id="user-add-model" tabindex="-1" class="modal fade">
  <div class="modal-header">
    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
    <h3><%= viewTitle %></h3>
  </div>
  <form role="form" parsley-validate="parsley-validate" novalidate="novalidate" class="modal-body form-add-user">
    <section class="select-mode">
      <div style="height:34px;">
        <ul data-color="green" class="iCheck user-add-mode">
          <li style="padding-bottom:0px" class="pull-left col-xs-6 col-sm-3 col-md-6">
            <input type="radio" id="mode-create-account" checked="checked" name="create-mode" value="create-account" parsley-trigger="ifClicked ifChanged" parsley-required="true" parsley-group="create-mode"/>
            <label style="margin-bottom:0px;"><%= addUser %></label>
          </li>
          <li style="padding-bottom:0px" class="pull-left col-xs-6">
            <input type="radio" id="mode-invite-user" name="create-mode" value="invite-user" parsley-trigger="ifClicked ifChanged" parsley-group="create-mode"/>
            <label style="margin-bottom:0px"><%= joinUser %></label>
          </li>
        </ul>
      </div>
      <hr style="margin-top:10px;"/>
    </section>
    <section class="profile">
      <div class="form-group">
        <label style="display:block;margin-right:20px;padding-top:5px;" class="pull-left"><%= title %></label>
        <div style="border:none;height:30px">
          <ul data-color="green" style="width:200px;" class="iCheck pull-left">
            <li style="padding-bottom:0px" class="pull-left col-xs-6">
              <input type="radio" id="title-mr" name="title" value="Mr" parsley-trigger="ifClicked ifChanged" parsley-required="true" parsley-group="title"/>
              <label style="margin-bottom:0px;"><%= titleMr %></label>
            </li>
            <li style="padding-bottom:0px" class="pull-left col-xs-6">
              <input type="radio" id="title-ms" name="title" value="Ms" parsley-trigger="ifClicked ifChanged" parsley-group="title"/>
              <label style="margin-bottom:0px"><%= titleMs %></label>
            </li>
          </ul>
        </div>
      </div>
      <div class="form-group">
        <label><%= name %></label>
        <div style="height:34px;">
          <input id="inputFirstName" name="firstName" parsley-trigger="change" required="required" type="text" placeholder="<%= firstName %>" style="width:49%;margin-right:2%" class="form-control pull-left"/>
          <input id="inputLastName" name="lastName" parsley-trigger="change" required="required" type="text" placeholder="<%= lastName %>" style="width:49%;0px;" class="form-control pull-left"/>
        </div>
      </div>
      <div class="form-group">
        <label><%= mobile %></label>
        <div style="height:34px;">
          <input id="inputMobileCountryCode" name="mobileCountryCode" required="required" placeholder="<%= phoneCountryCode %>" value="<%= phoneDefaultCountryCode %>" style="width:25%;padding-right:0px;margin-right:2%" class="form-control pull-left"/>
          <input id="inputMobileNumber" name="mobileNumber" required="required" type="tel" placeholder="<%= mobile %>" style="width:73%" class="form-control pull-left"/>
        </div>
      </div>
      <div class="form-group">
        <label><%= email %></label>
        <input id="inputEmail" required="required" type="email" parsley-type="email" name="username" placeholder="<%= email %>" parsley-remote-method="POST" parsley-remote-message="<%= validation.emailDuplicated %>" class="form-control"/>
      </div>
    </section>
    <section class="login">
      <div class="form-group">
        <label><%= password %></label>
        <input id="inputPassword" required="required" parsley-mincheck="6" type="password" parsley-trigger="change" name="password" placeholder="<%= password %>" class="form-control"/>
      </div>
      <div class="form-group">
        <label><%= passwordAgain %></label>
        <input id="inputRepeatPassword" required="required" parsley-mincheck="6" type="password" parsley-trigger="change" name="password-repeat" placeholder="<%= passwordAgain %>" parsley-equalto="#inputPassword" parsley-equalto-message="<%= validation.passwordNotMatch %>" class="form-control"/>
      </div>
    </section>
    <section>
      <hr/>
      <button style="margin-right:10px;" type="submit" class="btn-add-user-done btn button btn-theme">&nbsp; <%= next %> &nbsp;<i class="fa fa-angle-right"></i></button>
    </section>
  </form>
</div>