ol.breadcrumb
	li
		a(href='#') Home
	li
		a(href='#') Me
	li.active Profile
#content
	.row
		div.panel-body
			header.panel-heading
				h2 <%= viewTitle %>
			.col-md-4.align-lg-center
				img.circle(alt='', src!='<%= baseUrl %>/images/avatar.png')
			.col-md-8
				br
				br
				br
				br
				p <%= company %> : <%= contact.get('company') %>
				p <%= department %> : <%= contact.get('department')%>
		div.panel-body
			form.form-profile(role="form",parsley-validate,novalidate="novalidate")
				.form-group
					input.form-control.pull-left(name="contact-lastname",required,type="text",placeholder!="<%= lastName %>",value!="<%= contact.get('name').lastName %>",style="width:44%;margin-right:1%;")
					input.form-control.pull-left(name="contact-firstname",required,type="text",placeholder!="<%= firstName %>",value!="<%= contact.get('name').firstName %>",style="width:44%;margin-right:1%;")
					br
					br
					label <%= birthday %>
					div.input-group.date.form_datetime(data-date-format='yyyy-MM-dd', data-picker-position='bottom-left',style='width:180px')
						input.form-control(type='text',value!="<%= contact.getBirthday() %>",style='width:200px',readonly='readonly',name="contact-birthday")
						span.input-group-btn
							button.btn.btn-default(type='button')
								i.fa.fa-calendar
				//.form-group
					//ul.iCheck.form-control(data-color='green')
						li.pull-left.col-xs-6(style="padding-bottom:0px")
							input(type="radio",id="title-mr",name="title",value="Mr", parsley-trigger="ifClicked ifChanged",parsley-required="true",parsley-group="title")
							label(style="margin-bottom:0px;") <%= titleMr %>
						li.pull-left.col-xs-6(style="padding-bottom:0px")
							input(type="radio",id="title-ms",name="title",value="Ms", parsley-trigger="ifClicked ifChanged",parsley-group="title")
							label(style="margin-bottom:0px") <%= titleMs %>

			button.hidden(type="submit")
		footer.panel-footer
			button.btn-save.btn.btn-theme(type="submit")
				i.fa.fa-check
					| &nbsp; Save &nbsp;
		div.panel-body
			table.table.table-striped.table-bordered.text-center
				thead
					tr
						th CountryCode
						th Number
						th.hidden-xs Type
						th Action
				tbody
					<% if(phones.length){ %>
					<% _.forEach(phones,function(phone){ %>
					tr
						td <%= phone.get("countryCode") %>
						td <%= phone.get("number") %>
						td.hidden-xs <%= phone.get("type") %>
						td
							div.tooltip-area
								a.btn.btn-default.btn-sm.btn-phone-delete(phone-id!='<%= phone.id %>')
									span.hidden-xs
										i.fa.fa-trash-o
										| &nbsp; Delete &nbsp;
									span.visible-xs
										i.fa.fa-trash-o
					<% }) %>
					<% } %>
		footer.panel-footer
			button.btn-next.btn.btn-theme.btn-phone-add(type="submit")
				i.fa.fa-plus
				| &nbsp; Add Phone &nbsp;
		div.panel-body
			table.table.table-striped.table-bordered.text-center
				thead
					tr
						th Email
						th Category
						th Action
				tbody
					<% if(emails.length){ %>
					<% _.forEach(emails,function(email){ %>
					tr
						td <%= email.get("email") %>
						td <%= email.get("category") %>
						td
							div.tooltip-area
								a.btn.btn-default.btn-sm.btn-phone-delete(email-id!='<%= email.id %>')
									span.hidden-xs
										i.fa.fa-trash-o
										| &nbsp; Delete &nbsp;
									span.visible-xs
										i.fa.fa-trash-o
				<% }) %>
				<% } %>
		//div.panel-body
			table.table.table-striped.table-bordered.text-center
				thead
					tr
						th Email
						th Category
						th Action
				tbody
					<% if(emails.length){ %>
					<% _.forEach(emails,function(email){ %>
					tr
						td <%= email.get("email") %>
						td <%= email.get("category") %>
						td
							div.tooltip-area
								a.btn.btn-default.btn-sm.btn-phone-delete(email-id!='<%= email.id %>')
									span.hidden-xs
										i.fa.fa-trash-o
										| &nbsp; Delete &nbsp;
									span.visible-xs
										i.fa.fa-trash-o
					<% }) %>
					<% } %>
		//footer.panel-footer
			button.btn-next.btn.btn-theme.btn-address-add(type="submit")
				i.fa.fa-plus
				| &nbsp; Add Address &nbsp;