
<form>
  <div class="col-md-4 align-md-center"><img id="avator" alt="" src="<%= locale.baseUrl %>/images/avatar.png" class="circle"/></div>
  <div class="col-md-8">
    <div role="form" parsley-validate="parsley-validate" novalidate="novalidate" class="form-profile">
      <div class="form-group row">
        <div class="col-md-6 name-firstname">
          <div class="field-firstname"></div>
        </div>
        <div class="col-md-6 name-lastname">
          <div class="field-lastname">								</div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-6">
          <div class="field-birthday"></div>
        </div>
        <div class="col-md-6"></div>
      </div>
      <hr/>
    </div>
  </div>
  <div class="col-md-12">
    <div class="form-group row">
      <div class="col-md-12">
        <div class="field-company">		</div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6">
        <div class="field-department"></div>
      </div>
      <div class="col-md-6">					
        <div class="field-position">		</div>
      </div>
    </div>
  </div>
  <div>
    <div class="act-saverecord"></div>
  </div>
</form>