
<ol class="breadcrumb">
  <li><a href="#"><%= locale.breadcrumb.home %></a></li>
  <li><a href="#"><%= locale.breadcrumb.me %></a></li>
  <li class="active"><%= locale.breadcrumb.profile %></li>
</ol>
<div id="content">
  <section class="panel corner-flip">
    <div class="panel-heading">
      <h2><%= locale.viewTitle %></h2>
    </div>
    <div class="panel-body">
      <div style="margin-bottom:0px;" class="panel userProfileEditView"><%= locale.loading%>		</div>
    </div>
  </section>
</div>