ol.breadcrumb
	li
		a(href='#') <%= locale.breadcrumb.home %>
	li
		a(href='#') <%= locale.breadcrumb.me %>
	li.active <%= locale.breadcrumb.changePassword %>
#content
	section.panel.corner-flip
		div.panel-heading
			h2 <%= locale.viewTitle %>
		div.panel-body
			form.record-form
				.form-group
					.col-md-12
						.field-oldpassword
				.form-group
					.col-md-12
						.field-newpassword
				.form-group
					.col-md-12
						.field-repeatpassword
			
		div.panel-footer
				.act-saverecord