li.app-menu.account-menu
  span
    i.icon.fa.fa-briefcase
    | Account
  ul
    li
      a(href='#!/backend/account/applications')  Applications 
    li
      a(href='ui_button.html')  Members
    li
      a(href='ui_icon.html')  Profile