li.app-menu
  span
    i.icon.fa.fa-group
    | Account
  ul
    li
      a(href='#!/backend/account/applications')  Applications 
    li
      a(href='#!/backend/account/members')  Members
    li
      a(href='#!/backend/account/profile')  Profile