li.app-menu.cubi-account-manage
  span
    i.icon.fa.fa-group
    | <%= title %>
  ul
    li
      a(href='#!/backend/account/applications')  <%= menuApplications %>
    li
      a(href='#!/backend/account/members')  <%= menuMembers %>
    li
      a(href='#!/backend/account/invitations')  <%= menuInvitations %> 
    li
      a(href='#!/backend/account/profile')  <%= menuProfile %> 