.row.align-lg-center
  .col-md-12
    .error-template
      h1(style="padding-top:80px;")
        | Error
        strong 403
        | – :)
      h2 Oops! You don't have enough permission
      .error-details  Sorry, you need to have specified permission to perform this action.
      .error-actions
        a.btn.btn-theme.btn-lg.menu-collapse(href='#menu')
          span.fa.fa-bars
        a.btn.btn-theme-inverse.btn-lg(href='#')
          span.fa.fa-envelope-o
          | Contact Support
      .error-details  Copyright © 2013 Openbiz LLC