
<div class="row align-lg-center">
  <div class="col-md-12">
    <div class="error-template">
      <h1 style="padding-top:80px;">Error<strong>404</strong>– :)</h1>
      <h2>Oops! That page can’t be found.</h2>
      <div class="error-details"> Sorry, an error has occured, Requested page not found! </div>
      <div class="error-actions"><a href="#menu" class="btn btn-theme btn-lg menu-collapse"><span class="fa fa-bars"></span></a><a href="#" class="btn btn-theme-inverse btn-lg"><span class="fa fa-envelope-o"></span>Contact Support</a></div>
      <div class="error-details"> Copyright © 2013 Openbiz LLC</div>
    </div>
  </div>
</div>