doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title Openbiz Cubi
		script(src="javascript/vendor/underscore/underscore-min.js")
		script(src="javascript/vendor/backbone/backbone-min.js")
		script(src="javascript/vendor/bootstrap/js/bootstrap.min.js")
		link(href="javascript/vendor/bootstrap/css/bootstrap.min.css")
		link(href="javascript/vendor/bootstrap/css/bootstrap-theme.min.css")