doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport",content="width=device-width, initial-scale=1.0")
		title Openbiz Cubi		
		link(href="javascript/vendor/bootstrap/css/bootstrap.min.css",rel="stylesheet")
		link(href="javascript/vendor/bootstrap/css/bootstrap-theme.min.css",rel="stylesheet")
		link(href="styles/openbiz.css",rel="stylesheet")
		script(src="javascript/vendor/require/require.js",data-main="javascript/main")
	body
		header			
		div.container
			div.loader(tabindex="-1",class="col-md-2")
		footer